<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body>
    <form action="/home.html" method="post">
        
        <div class="content-register">
            <label for="txfuser"></label>
            <input type="text" name="NombreUsuario" id="txfuser" placeholder="Nombre de usuario">
        </div>
        
        <div class="content-register">
            <label for="txfpassword"></label>
            <input type="password" name="password" id="txfpassword" placeholder="Elegi tu contraseña">
        </div>
        
        <div class="button-send">
            <button type="submit">Enviar</button>
        </div>
        
    </form>
</body>
</html>