*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    width: 40%;
    font-family: "Roboto";
    font-size: 12px;
    border-color: none;
    display: flex;
    background-color: #ebebeb;
    margin: 30%;
    align-items: center;
}

.content-nav{
    flex-wrap: wrap;
    flex-direction: column;
    
}
h1{
    margin-top:15px; 
}
.content-register{
    font-size: 12px;
    color: #666;
    margin-top:15px; 
    height: 100%;
    width: fit-content;
}

.buttom-send{
    background-color:#1259c3;
}
